// ================================
// Input Outlined
// Requires: input/base.scss
// ================================

// Imports
@import './../common/core';
@import './../common/outlined';

// Theme
.f-input--outlined {
    $block: '.f-input';
    @include fo-field($block);
    @include fo-label($block) {
        top: 0;
        bottom: 0;
        left: calc(
            #{$f-border-width} + #{$f-field-padding-left}
        );
    }
    @include fo-label-text($block);
    @include fo-indicator($block);
    @include fo-message($block) {
        margin: $fo-message-margin-inset;
    }
}
