// ================================
// Input Underlined
// Requires: input/base.scss
// ================================

// Imports
@import './../common/core/all';

// Background
$f-underlined-bg-color: white !default;

// Labels
$f-underlined-label-scale: 0.8 !default;
$f-underlined-label-color-filled: inherit !default;

// Indicator
$f-underlined-indicator-optional-top: 0 !default;
$f-underlined-indicator-optional-right: 0 !default;
$f-underlined-indicator-required-top: 0 !default;
$f-underlined-indicator-required-right: 0 !default;

// Messages
$f-underlined-message-margin: 0.5em 0 0 0 !default;

// Theme
.f-input--underlined {
    $b: '.f-input';

    #{$b}__field {
        color: $f-common__text-color;
        background-color: $f-underlined-bg-color;
        border-bottom: $f-common__border-width solid $f-common__border-color;
        transition: border-color $f-common__transition-duration
            $f-common__transition-timing;
        will-change: border-color;
        padding: $f-common__padding-top 0 $f-common__padding-bottom 0;

        &:hover {
            border-color: $f-common__border-color-hover;
        }

        &:focus {
            border-color: $f-common__border-color-focus;
        }

        &[disabled] {
            // cursor: not-allowed;
            border-color: $f-common__disabled-border-color;
        }

        // Webkit focus
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: inset 0 0 0 10em $f-underlined-bg-color !important;
        }
    }

    // Error colours
    &#{$f-modifier__error} #{$b}__field,
    &#{$f-modifier__error} #{$b}__field:hover,
    &#{$f-modifier__error} #{$b}__field:focus {
        border-color: $f-common__border-color-error;
    }

    #{$b}__label {
        position: absolute;
        display: flex;
        align-items: center;
        pointer-events: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    // Label > Focus movement
    #{$b}__field#{$f-modifier__filled} + #{$b}__label {
        opacity: 0;
    }

    #{$b}__label-text {
        display: block;
        background-color: $f-underlined-bg-color;
        width: 100%;

        // Interactions
        transition: transition(color);
        will-change: color;
    }

    // Hover > Label text
    #{$b}__field:hover + #{$b}__label #{$b}__label-text {
        color: $f-common__label-color-hover;
    }

    // Error > Label text colours
    &#{$f-modifier__error} #{$b}__field + #{$b}__label #{$b}__label-text {
        color: $f-common__error-color;
    }

    // Indicator
    #{$b}__indicator {
        position: absolute;
        transition: transition(color);
        will-change: color;

        &--optional {
            top: $f-underlined-indicator-optional-top;
            right: $f-underlined-indicator-optional-right;
        }

        &--required {
            top: $f-underlined-indicator-required-top;
            right: $f-underlined-indicator-required-right;
        }
    }

    // Indicator > hover
    #{$b}__field:hover ~ #{$b}__indicator {
        color: $f-common__indicator-color-hover;
    }

    // Indicator > focus
    #{$b}__field:focus ~ #{$b}__indicator {
        color: $f-common__indicator-color-focus;
    }

    #{$b}__message {
        margin: $f-underlined-message-margin;
    }
}
