// ================================
// Switcher Base
// The base styles for themes
// ================================

// Imports
@import './../common/core';

// Variables
$f-switch--spacing: 0.75em !default;
$f-switch--label-line-height: 1 !default;

// Base
.f-switcher {
    $block: #{&};

    @include f-base;

    &__inner {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__field {
        clip: rect(1px, 1px, 1px, 1px); // Allows tabbing still
        position: absolute;
    }

    @include f-label($block) {
        $switch: '&:after';
        $switchbox: '&:before';

        & {
            color: inherit;
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            transition: transition(color);
            will-change: color;
        }

        // The label text
        #{$block}__label-text {
            color: $f-text-color;
        }

        // Switchbox + Switch
        #{$switchbox},
        #{$switch} {
            content: '';
            display: block;
            color: $f-border-color;
            flex-shrink: 0;
            flex-grow: 0;
        }

        #{$switchbox} {
            margin-right: $f-switch--spacing;
            width: 2em;
            height: 1em;
            display: block;
            transition: transition(color);
            will-change: color;

            // Switchbox > Disabled
            #{$block}__field:disabled + & {
                color: $f-border-color-disabled;
            }

            // Switchbox > Error
            #{$f-modifier-error} #{$block}__field:not(:disabled) + & {
                color: $f-error-color;
            }
        }

        #{$switch} {
            position: absolute;
            left: 0;
            transition: transition(color),
                transform 0.1s;
            will-change: color, transform;
            transform: translateX(-0.1em);

            // Switch > Disabled
            #{$block}__field:disabled + & {
                color: $f-border-color-disabled;
            }

            // Switch > Error
            #{$f-modifier-error} #{$block}__field:not(:disabled) + & {
                color: $f-error-color;
            }
        }
    }

    @include f-label-text($block) {
        line-height: $f-switch--label-line-height;
    }

    @include f-indicator($block);
    @include f-message;
}
