// ================================
// Switcher Base
// The base styles for themes
// ================================

// Imports
@import './../core/core';
@import './../core/common';

// Variables
$f-switcher--spacing: 0.75em !default;
$f-switcher--label-line-height: 1 !default;

$block: '.f-switcher';

// Mixins
@include f-common-base($block);
@include f-common-inner($block);
@include f-common-label($block);
@include f-common-label-text($block);
@include f-common-label-indicator($block);
@include f-common-message($block);

@include f-inner($block) {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

@include f-label($block) {
    color: inherit;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    transition: transition(color);
    will-change: color;
}

@include f-switch($block) {
    content: '';
    display: block;
    color: $f-border-color;
    flex-shrink: 0;
    flex-grow: 0;
    position: absolute;
    left: 0;
    transition: transition(color), transform 0.1s;
    will-change: color, transform;
    transform: translateX(-0.1em);
}

// Switch > Disabled
@include f-switch($block, $state: ':disabled') {
    color: $f-border-color-disabled;
}

// Switch > Not disabled + Error
@include f-switch(
    $block,
    $state: ':not(:disabled)',
    $hasError: true
) {
    color: $f-error-color;
}

@include f-switchbox($block) {
    content: '';
    display: block;
    color: $f-border-color;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: $f-switcher--spacing;
    width: 2em;
    height: 1em;
    display: block;
    transition: transition(color);
    will-change: color;
}

// Switchbox > Disabled
@include f-switchbox($block, $state: ':disabled') {
    color: $f-border-color-disabled;
}

// Switchbox > Not disabled + Error
@include f-switchbox(
    $block,
    $state: ':not(:disabled)',
    $hasError: true
) {
    color: $f-error-color;
}

@include f-field($block) {
    clip: rect(1px, 1px, 1px, 1px); // Allows tabbing still
    position: absolute;
}

@include f-label-text($block) {
    color: $f-text-color;
    line-height: $f-switcher--label-line-height;
}