// ================================
// Switcher Outlined
// Requires: switcher/base.scss
// ================================

// Imports
@import './../core/core';
@import './../core/outlined';

// Variables
$fo-switcher--border-width: $f-border-width * 2 !default;
$fo-switcher--size: 1.15em !default;
$fo-switcher--field-radius: 10vh !default;

$block: '.f-switcher';
$theme: 'outlined';

@include f-switch-knob($block, $theme) {
    font-size: $fo-switcher--size;
    background-color: $f-bg-color;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: $fo-switcher--border-width solid currentColor;
}

// Switch knob > Not disabled + Not error
@include f-switch-knob(
    $block,
    $theme,
    $state: ':not(:disabled)',
    $has-error: false
) {
    color: $f-border-color;
    transition: transition(color), transition(border-color), transform 0.1s;
    will-change: color, transform;
}

// Switch knob > Hover + Not disabled + Not error
@include f-switch-knob(
    $block,
    $theme,
    $state: ':hover:not(:disabled)',
    $has-error: false
) {
    color: $f-border-color-hover;
}

// Switch knob > Focus + Not error
@include f-switch-knob(
    $block,
    $theme,
    $state: ':focus:not(:active)',
    $has-error: false
) {
    color: $f-border-color-focus;
}

// Switch knob > Active + Not disabled + Not error
@include f-switch-knob(
    $block,
    $theme,
    $state: ':active:not(:disabled)',
    $has-error: false
) {
    color: $f-border-color-active;
}

// Switch knob > Checked + Not disabled + Not error
@include f-switch-knob(
    $block,
    $theme,
    $state: ':checked:not(:disabled)',
    $has-error: false
) {
    color: $f-border-color-filled;
}

// Switch knob > Checked
@include f-switch-knob($block, $theme, $state: ':checked') {
    transform: translateX(0.75em + 0.1em);
}

// Switch knob > Checked + Active
@include f-switch-knob($block, $theme, $state: ':checked:active') {
    transform: translateX(0.75em + 0.2em);
}

// Switch knob > Active + Not checked
@include f-switch-knob($block, $theme, $state: ':active:not(:checked)') {
    transform: translateX(-0.2em);
}

@include f-switch-groove($block, $theme) {
    font-size: $fo-switcher--size;
    border: $fo-switcher--border-width solid currentColor;
    border-radius: $fo-switcher--field-radius;
}

// Switch groove > Not disabled + Not error
@include f-switch-groove(
    $block,
    $theme,
    $state: ':not(:disabled)',
    $has-error: false
) {
    color: $f-border-color;
}

// Switch groove > Checked + Not disabled + Not error
@include f-switch-groove(
    $block,
    $theme,
    $state: ':checked:not(:disabled)',
    $has-error: false
) {
    color: $f-border-color-filled;
}

@include f-label-text($block, $theme) {
    transition: transition(color);
    will-change: transform;
}

// Label text > Checked + Not error/disabled
@include f-label-text(
    $block,
    $theme,
    $state: ':checked:not(:disabled)',
    $has-error: false
) {
    color: $f-label-color-filled;
}

@include f-message($block, $theme) {
    margin: $fo-message-margin;
}
