// ================================
// Switcher Outlined
// Requires: switcher/base.scss
// ================================

// Imports
@import './../common/core';
@import './../common/outlined';

// Variables
$fo-switcher--border-width: $f-border-width * 2 !default;
$fo-switcher--size: 1.15em !default;
$fo-switcher--field-radius: 10vh !default;

.f-switcher--outlined {
    $block: '.f-switcher';
    $switch: $block + '__label:after';
    $switchbox: $block + '__label:before';

    #{$switch} {
        font-size: $fo-switcher--size;
        background-color: $f-bg-color;
        width: 1.2em;
        height: 1.2em;
        border-radius: 50%;
        border: $fo-switcher--border-width solid currentColor;
    }

    #{$switchbox} {
        font-size: $fo-switcher--size;
        border: $fo-switcher--border-width solid currentColor;
        border-radius: $fo-switcher--field-radius;
    }

    // Switch > Unchecked > Active
    #{$block}__field:not(:checked):active + #{$switch} {
        transform: translateX(-0.2em);
    }

    // Switch > Checked > Active
    #{$block}__field:checked:active + #{$switch} {
        transform: translateX(0.75em + 0.2em);
    }

    // Switch > Checked
    #{$block}__field:checked + #{$switch} {
        transform: translateX(0.75em + 0.1em);
    }

    // Not error + not disabled fields
    &:not(#{$f-modifier-error}) #{$block}__field:not(:disabled) {
        // Switch
        & + #{$switch} {
            color: $f-border-color;
            transition: transition(color),
                transition(border-color),
                transform 0.1s;
            will-change: color, transform;
        }

        // Switch > Hover
        &:hover + #{$switch} {
            color: $f-highlight-color;
        }

        // Switch > Focus
        &:focus + #{$switch} {
            color: $f-border-color;
        }

        // Switch > Active
        &:active + #{$switch} {
            color: $f-border-color;
        }

        // Switch > Checked
        &:checked + #{$switch} {
            color: $f-highlight-color;
        }

        // Switchbox
        & + #{$switchbox} {
            color: $f-border-color;
        }

        // Switchbox > Hover
        &:hover + #{$switchbox} {
            color: $f-border-color;
        }

        // Switchbox > Focus
        &:hover + #{$switchbox} {
            color: $f-border-color;
        }

        // Switchbox > Active
        &:active + #{$switchbox} {
            color: $f-border-color;
        }

        // Switchbox > Checked
        &:checked + #{$switchbox} {
            color: $f-highlight-color;
        }
    }

    @include fo-message($block) {
        margin: $fo-message-margin;
    }
}