// ================================
// Switcher Outlined
// Requires: switcher/base.scss
// ================================

// Imports
@import './../common/core';
@import './../common/outlined';

// Variables
$fo-switcher--border-width: $f-border-width * 2 !default;
$fo-switcher--size: 1.15em !default;
$fo-switcher--field-radius: 10vh !default;

// Switch
@include f-switch($block: '.f-switcher', $theme: 'outlined') {
    font-size: $fo-switcher--size;
    background-color: $f-bg-color;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: $fo-switcher--border-width solid currentColor;
}

// Switch > Not disabled + Not error
@include f-switch(
    $block: '.f-switcher',
    $state: ':not(:disabled)',
    $hasError: false,
    $theme: 'outlined'
) {
    color: $f-border-color;
    transition: transition(color), transition(border-color), transform 0.1s;
    will-change: color, transform;
}

// Switch > Hover + Not disabled + Not error
@include f-switch(
    $block: '.f-switcher',
    $state: ':hover:not(:disabled)',
    $hasError: false,
    $theme: 'outlined'
) {
    color: $f-border-color-hover;
}

// Switch > Focus + Not error
@include f-switch(
    $block: '.f-switcher',
    $state: ':focus:not(:active)',
    $hasError: false,
    $theme: 'outlined'
) {
    color: $f-border-color-focus;
}

// Switch > Active + Not disabled + Not error
@include f-switch(
    $block: '.f-switcher',
    $state: ':active:not(:disabled)',
    $hasError: false,
    $theme: 'outlined'
) {
    color: $f-border-color-active;
}

// Switch > Checked + Not disabled + Not error
@include f-switch(
    $block: '.f-switcher',
    $state: ':checked:not(:disabled)',
    $hasError: false,
    $theme: 'outlined'
) {
    color: $f-border-color-filled;
}

// Switch > Checked
@include f-switch(
    $block: '.f-switcher',
    $state: ':checked',
    $theme: 'outlined'
) {
    transform: translateX(0.75em + 0.1em);
}

// Switch > Checked + Active
@include f-switch(
    $block: '.f-switcher',
    $state: ':checked:active',
    $theme: 'outlined'
) {
    transform: translateX(0.75em + 0.2em);
}

// Switch > Active + Not checked
@include f-switch(
    $block: '.f-switcher',
    $state: ':active:not(:checked)',
    $theme: 'outlined'
) {
    transform: translateX(-0.2em);
}

// Switchbox
@include f-switchbox($block: '.f-switcher', $theme: 'outlined') {
    font-size: $fo-switcher--size;
    border: $fo-switcher--border-width solid currentColor;
    border-radius: $fo-switcher--field-radius;
}

// Switchbox > Not disabled + Not error
@include f-switchbox(
    $block: '.f-switcher',
    $state: ':not(:disabled)',
    $hasError: false,
    $theme: 'outlined'
) {
    color: $f-border-color;
}

// Switchbox > Checked + Not disabled + Not error
@include f-switchbox(
    $block: '.f-switcher',
    $state: ':checked:not(:disabled)',
    $hasError: false,
    $theme: 'outlined'
) {
    color: $f-border-color-filled;
}

// Message
@include f-message($block: '.f-switcher', $theme: 'outlined') {
    margin: $fo-message-margin;
}
