// Variables, mixins, and functions
@import './../../common/core/all';

// Common
$f-checkbox-thickness: 2px !default;
$f-checkbox-size: 1em !default;

// Tickbox
$f-checkbox-field-radius: 0.15em !default;
$f-checkbox-field-color: $f-core-border-color !default;
$f-checkbox-field-color-checked: $f-core-highlight-color !default;
$f-checkbox-field-color-hover: $f-checkbox-field-color-checked !default;
$f-checkbox-field-color-focus: $f-checkbox-field-color-checked !default;

// Label
$f-checkbox-label: $f-core-text-color !default;
$f-checkbox-label-hover: $f-checkbox-label !default;
$f-checkbox-label-checked: $f-checkbox-label !default;
$f-checkbox-label-font-size: 1em !default;
$f-checkbox-label-line-height: 1 !default;

// Other
$f-checkbox-margin-right: 0.75em !default;
$f-checkbox-transition-duration: 0.35s !default;
$f-checkbox-tick-position: -0.22em, 0 !default; // x, y
