// ================================
// Switch Base
// The base styles for themes
// ================================

// Imports
@import './../common/core';

// Base
.f-search {
    $block: #{&};
    @include f-base;
    @include f-inner;
    @include f-field;
    @include f-label($block);
    @include f-label-text($block);
    @include f-indicator($block);
    @include f-message;

    // Button > Disabled
    &__field:disabled ~ &__button {
        pointer-events: none;
        opacity: 0.3;
    }

    // Safari > Fix jumping movement with box-shadow animation;
    &__button {
        transform: translateZ(0);
    }

    // Safari > Removes the magifying glass decoration
    // taking up space in the left of the field
    ::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    // Cancel button > Disabled
    &__field:disabled ~ #{$block}::-webkit-search-cancel-button {
        opacity: 0.2;
        filter: saturate(0%);
    }
}
