// ================================
// Search Outlined
// Requires: search/base.scss
// ================================

// Imports
@import './imports/imports';
@import './../common/outlined/all';

// Base
.f-search {
    $b: #{&};

    @include f-outlined-field($b) {
        box-sizing: border-box;
        padding-right: calc(
            #{$f-common__padding-horizontal} + #{$f-search__icon-size}
        );
    }
    @include f-outlined-label($b) {
        top: 0;
        bottom: 0;
        left: $f-common__padding-horizontal;
    }
    @include f-outlined-label-text($b);

    #{$b}__button {
        color: $f-search__label-color;
        background-color: $f-search__background-color;
        z-index: 2;
        position: absolute;
        top: $f-common__border-width;
        bottom: $f-common__border-width;
        right: $f-common__border-width;
        -webkit-appearance: none;
        appearance: none;
        border: 0;
        border-left: $f-search__border-width solid $f-search__border-color;
        border-radius: 0 $f-outlined-border-radius $f-outlined-border-radius 0;
        width: $f-search__size;
        min-width: 20%;
        outline: 0;
        transition: transition(background-color);

        &--default-icon svg {
            max-height: 50%;
        }

        &:hover,
        &:focus {
            top: 0;
            bottom: 0;
            right: 0;
        }

        &:hover {
            color: $f-search__label-color-hover;
            border-left-color: $f-search__background-color-hover;
            background-color: $f-search__background-color-hover;
        }

        &:focus {
            color: $f-search__label-color-focus;
            border-left-color: $f-search__background-color-focus;
            background-color: $f-search__background-color-focus;
        }
    }

    @include f-outlined-message($b) {
        margin: $f-outlined-message-margin-inset;
    }
}
