// ================================
// Search Outlined
// Requires: search/base.scss
// ================================

// Imports
@import './imports/imports';
@import './../common/outlined/all';

// non-configurable min width
$f-search__button-width-base: 3.5em;

.f-search {
    $b: #{&};
    $button-width: calc(
        #{$f-search__button-width-base} + #{$f-search__button-extra-width}
    );

    @include f-outlined-field($b) {
        box-sizing: border-box;
        padding-right: $button-width;
    }

    @include f-outlined-label($b) {
        top: 0;
        bottom: 0;
        left: calc(
            #{$f-common__border-width} + #{$f-common__padding-horizontal}
        );
    }

    @include f-outlined-label-text($b);

    #{$b}__button {
        // reset
        -webkit-appearance: none;
        appearance: none;
        border: 0;
        outline: 0;
        font-size: $f-common__text-font-size;

        // alignment
        display: flex;
        align-items: center;
        justify-content: center;

        // positioning
        position: absolute;
        top: $f-common__border-width;
        bottom: $f-common__border-width;
        right: $f-common__border-width;
        padding: 0;

        // Misc
        color: $f-search__label-color;
        background-color: transparent;
        width: $button-width;
        transition: transition(background-color);

        &--default-icon svg {
            width: 1em;
            height: 1em;
            pointer-events: none;
            max-height: $f-search__default-icon-max-height;
            font-size: $f-search__default-icon-size;
            transform: translate($f-search__default-icon-position);
        }

        &:not(:disabled):hover,
        &:not(:disabled):focus {
            cursor: pointer;
        }

        &:hover {
            color: $f-search__label-color-hover;
        }

        &:focus {
            color: $f-search__label-color-focus;
        }
    }

    #{$b}__field:disabled ~ &__button {
        opacity: 0.5;
    }

    @include f-outlined-indicator($b);
    @include f-outlined-message($b) {
        margin: $f-outlined-message-margin-inset;
    }
}
