// ================================
// Search Underlined
// Requires: search/base.scss
// ================================

// Imports
@import './../core/core';
@import './../core/underlined';

// Variables > Button
$fu-search--button-width-base: 2.5em; // Non-configurable min width
$fu-search--button-width-additional: 0em !default;
$fu-search--button-scale-active: 0.9 !default;
$fu-search--button-color: $f-border-color !default;
$fu-search--button-color-hover: $f-highlight-color !default;
$fu-search--button-color-focus: $f-highlight-color !default;
$fu-search--button-color-active: $f-highlight-color !default;
$fu-search--button-color-error: $f-error-color !default;

// Variables > Icons
$fu-search--icon-size: 1.5em !default;
$fu-search--icon-max-height: 45% !default;
$fu-search--icon-stroke-width: 3px !default;
$fu-search--icon-position: 0em, 0em !default; // translate(x, y) fine tuning
$fu-search--cancel-stroke-width: 4px !default;

// Variables > Protected
$fu-button-width: calc(
    #{$fu-search--button-width-base} + #{$fu-search--button-width-additional}
);

// Variables
$field: 'search';
$theme: 'underlined';
$common-args: ($field, $theme);

// Mixins
@include fu-common-field($field);
@include fu-common-label($field);
@include fu-common-label-text($field);
@include fu-common-indicator($field);

@include f-base($common-args...) {
    // Cancel button
    $button-color: str-replace(
        #{inspect($fu-search--button-color)},
        '#',
        '%23'
    );
    input::-webkit-search-cancel-button {
        -webkit-appearance: none;
        transform: translateZ(0);
        height: 1.5em;
        width: 1em;
        cursor: pointer;
        margin-left: 0.75em;
        transition: transition(background-color), transition(transform);
        will-change: background-color, transform;
        transform-origin: 50%;
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 27.707 27.707' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='.854' x2='26.854' y1='.854' y2='26.854' stroke='#{$button-color}' stroke-width='#{$fu-search--cancel-stroke-width}'/%3E%3Cline x1='.854' x2='26.854' y1='26.854' y2='.854' stroke='#{$button-color}' stroke-width='#{$fu-search--cancel-stroke-width}'/%3E%3C/svg%3E%0A")
            no-repeat 50%;
        background-size: 90%;
    }

    // Cancel button > Hover
    $button-color: str-replace(
        #{inspect($fu-search--button-color-hover)},
        '#',
        '%23'
    );
    input::-webkit-search-cancel-button:hover {
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 27.707 27.707' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='.854' x2='26.854' y1='.854' y2='26.854' stroke='#{$button-color}' stroke-width='#{$fu-search--cancel-stroke-width}'/%3E%3Cline x1='.854' x2='26.854' y1='26.854' y2='.854' stroke='#{$button-color}' stroke-width='#{$fu-search--cancel-stroke-width}'/%3E%3C/svg%3E%0A")
            no-repeat 50%;
        background-size: 90%;
    }

    // Cancel button > Active
    input::-webkit-search-cancel-button:active {
        color: $fu-search--button-color-active;
        transform: translateZ(0) scale(#{$fu-search--button-scale-active});
    }
}

@include f-field($common-args...) {
    padding-right: $fu-button-width;
    -webkit-appearance: none;
    appearance: none;
}

@include f-label($common-args...) {
    top: 0;
    bottom: 0;
}

@include f-label-text($common-args...) {
    transition: transition(transform), transition(color),
        transition(letter-spacing);
    will-change: transform, color;
    transform: translateY(0) scale(1);
}

@include f-button($common-args...) {
    margin-top: -0.25em; // Visual realignment
    position: absolute;
    top: calc(#{$fu-field-padding-top} + #{$f-border-width});
    right: 0;
    color: $fu-search--button-color;
    width: $fu-button-width;
    transition: transition(background-color), transition(transform),
        transition(color);
    will-change: background-color, transform, color;
    transform-origin: 50%;

    &:hover {
        color: $fu-search--button-color-hover;
    }

    &:focus {
        outline: 0;
        color: $fu-search--button-color-focus;
    }

    &:active {
        color: $fu-search--button-color-active;
        transform: translateZ(0) scale(#{$fu-search--button-scale-active});
    }

    &:disabled {
        color: $f-disabled-color;
        user-select: none;
    }

    &--icon svg {
        margin-left: auto;
        width: 1em;
        height: 1em;
        pointer-events: none;
        max-height: $fu-search--icon-max-height;
        font-size: $fu-search--icon-size;
        transform: translate($fu-search--icon-position);

        * {
            stroke-width: $fu-search--icon-stroke-width;
        }
    }
}

// Button > Error
@include f-button($common-args..., $has-error: true) {
    color: $fu-search--button-color-error;
}

// Button > Focus + Error
@include f-button($common-args..., $state: ':focus', $has-error: true) {
    color: $f-border-color-error;
}

@include f-message($common-args...) {
    margin: $fu-message-margin;
}
