@import './../core/variables';

@mixin f-outlined-field($b) {
    #{$b}__field {
        color: $f-common__text-color;
        background-color: $f-outlined-bg-color;
        border: $f-common__border-width solid $f-common__border-color;
        border-radius: $f-outlined-border-radius;
        transition: border-color $f-common__transition-duration
            $f-common__transition-timing;
        will-change: border-color;

        &:hover {
            border-color: $f-common__border-color-hover;
        }

        &:focus {
            border-color: $f-common__border-color-focus;
            box-shadow: inset 0 0 0
                calc(
                    #{$f-common__border-width-focus} - #{$f-common__border-width}
                )
                $f-common__border-color-focus;
        }

        &[disabled] {
            // cursor: not-allowed;
            border-color: $f-common__disabled-border-color;
        }

        // Autofill > Default / Hover
        &:-webkit-autofill,
        &:-webkit-autofill:hover {
            -webkit-box-shadow: 0 0 0 10em $f-outlined-bg-color inset !important;
        }

        // Autofill > Focus / Active
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: inset 0 0 0
                    calc(
                        #{$f-common__border-width-focus} - #{$f-common__border-width}
                    )
                    $f-common__border-color-focus,
                inset 0 0 0 10em $f-outlined-bg-color !important;
        }

        @content;
    }

    // Error colours
    &#{$f-modifier__error} #{$b}__field,
    &#{$f-modifier__error} #{$b}__field:hover,
    &#{$f-modifier__error} #{$b}__field:focus {
        border-color: $f-common__border-color-error;
        box-shadow: inset 0 0 0
            calc(#{$f-common__border-width-error} - #{$f-common__border-width})
            $f-common__border-color-error;
    }
}

@mixin f-outlined-label($b) {
    #{$b}__label {
        position: absolute;
        display: flex;
        align-items: center;
        pointer-events: none;

        // Interactions
        transition: transition(transform);
        will-change: transform;
        transform-origin: top left;

        @content;
    }

    // Label > Focus movement
    #{$b}__field:focus+#{$b}__label,
    // Filled > Open the field
    #{$b}__field#{$f-modifier__filled}+#{$b}__label,
    // Error > Open the field
    &#{$f-modifier__error} #{$b}__field+#{$b}__label {
        transform: translateY(-$f-common__padding-top);
    }
}

@mixin f-outlined-label-text($b) {
    #{$b}__label-text {
        display: block;

        // Interactions
        transform-origin: top left;
        transition: transition(transform), transition(color);
        will-change: transform, color;

        // Label background line mask
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -0.35em;
            right: -0.35em;
            z-index: -1;
            background-color: $f-outlined-bg-color;
            will-change: transform;
        }

        @content;
    }

    // Hover > Label text
    #{$b}__field:hover + #{$b}__label #{$b}__label-text {
        color: $f-common__label-color-hover;
    }

    // Filled > Label text
    #{$b}__field#{$f-modifier__filled} + #{$b}__label #{$b}__label-text {
        color: $f-outlined-label-color-filled;
    }

    // Focus + Filled > Label text
    #{$b}__field:focus + #{$b}__label #{$b}__label-text,
    #{$b}__field#{$f-modifier__filled} + #{$b}__label #{$b}__label-text {
        transform: scale($f-outlined-label-scale) translateY(-50%)
            translateY(floor(-$f-common__border-width/2));
        color: $f-common__label-color-focus;
    }

    // Error > Open the field
    &#{$f-modifier__error} #{$b}__field + #{$b}__label #{$b}__label-text {
        transform: scale($f-outlined-label-scale) translateY(-50%)
            translateY(floor(-$f-common__border-width/2));
    }

    // Error > Label text colours
    &#{$f-modifier__error} #{$b}__field + #{$b}__label #{$b}__label-text {
        color: $f-common__error-color;
    }
}

@mixin f-outlined-indicator($b) {
    // Indicator
    #{$b}__indicator {
        position: absolute;
        transition: transition(color);
        will-change: color;

        &--optional {
            top: $f-outlined-indicator-optional-top;
            right: $f-outlined-indicator-optional-right;
        }

        &--required {
            top: $f-outlined-indicator-required-top;
            right: $f-outlined-indicator-required-right;
        }

        @content;
    }

    // Indicator > hover
    #{$b}__field:hover ~ #{$b}__indicator {
        color: $f-common__indicator-color-hover;
    }

    // Indicator > focus
    #{$b}__field:focus ~ #{$b}__indicator {
        color: $f-common__indicator-color-focus;
    }
}

@mixin f-outlined-message($b) {
    #{$b}__message {
        @content;
    }
}
