@import './../core/variables';

// Outlined theme core

// Background
$f-outlined__bg-color: $f-common__background-color !default;

// Labels
$f-outlined__label-scale: 0.8 !default;
$f-outlined__label-color-filled: inherit !default;

// Box > Border
$f-outlined__border-radius: 0.25em !default;

// Indicator
$f-outlined__indicator-required-top: 0.4em !default;
$f-outlined__indicator-required-right: 0.4em !default;
$f-outlined__indicator-optional-top: 1em !default;
$f-outlined__indicator-optional-right: 1em !default;

// Messages
$f-outlined__message-margin: 0.5em 0 0 0 !default;
$f-outlined__message-margin-inset: 0.5em 0 0 0.5em !default;
