// ================================
// Textarea Base
// The base styles for themes
// ================================

// Variables, mixins, and functions
@import './../common/core';

// Variables
$f-textarea--line-height: 1.5 !default;
$f-textarea--max-height: 19em !default;

@include f-base(
    $block: '.f-textarea',
);

@include f-inner(
    $block: '.f-textarea',
);

@include f-field(
    $block: '.f-textarea',
) {
    resize: vertical;
    line-height: $f-textarea--line-height;
    max-height: $f-textarea--max-height;
};

@include f-label(
    $block: '.f-textarea',
) {
    line-height: $f-textarea--line-height;
};

@include f-label-text(
    $block: '.f-textarea',
);

@include f-indicator(
    $block: '.f-textarea',
);

@include f-message(
    $block: '.f-textarea',
);