// ================================
// Textarea Base
// The base styles for themes
// ================================

// Variables, mixins, and functions
@import './../common/core';

// Variables
$f-textarea--line-height: 1.5 !default;
$f-textarea--max-height: 500px !default;

// Base
.f-textarea {
    $block: #{&};
    @include f-base;
    @include f-inner;
    @include f-field {
        display: block;
        resize: vertical;
        line-height: $f-textarea--line-height;
        max-height: $f-textarea--max-height;
    }
    @include f-label($block);
    @include f-label-text($block);
    @include f-indicator($block);
    @include f-message;
}
