// Variables, mixins, and functions
@import './imports/common';
@import './../common/outlined/all';

// Outlined
.f-textarea--outlined {
    $b: '.f-textarea';
    @include f-core-outlined-field($b);

    @include f-core-outlined-label($b) {
        top: $f-core-padding-vertical;
        left: $f-core-padding-horizontal;
        line-height: $f-textarea-lineheight;
    }

    @include f-core-outlined-label-text($b);
    @include f-core-outlined-indicator($b);
    @include f-core-outlined-message($b);
}
