// ================================
// Textarea Outlined
// Requires: textarea/base.scss
// ================================

// Imports
@import './imports/imports';
@import './../common/outlined/all';

// Theme
.f-textarea--outlined {
    $b: '.f-textarea';
    @include f-outlined-field($b);

    @include f-outlined-label($b) {
        top: $f-common__padding-top;
        left: $f-common__padding-left;
        line-height: $f-textarea__line-height;
    }

    @include f-outlined-label-text($b);
    @include f-outlined-indicator($b);
    @include f-outlined-message($b) {
        margin: $f-outlined-message-margin-inset;
    }
}
