// ================================
// Textarea Outlined
// Requires: textarea/base.scss
// ================================

// Imports
@import './../common/core';
@import './../common/outlined';

// Variables
$fo-webkit-styles: true !default;

// Theme
.f-textarea--outlined {
    $block: '.f-textarea';

    @include fo-field($block);
    @include fo-label($block) {
        top: $f-field-padding-top;
        left: $f-field-padding-left;
    }
    @include fo-label-text($block);
    @include fo-indicator($block);
    @include fo-message($block) {
        margin: $fo-message-margin-inset;
    }
}
