// Core
@import './common';

// Variables
$f-textarea-lineheight: 1.5 !default;

// Base
.f-textarea {
    $b: #{&};
    @include f-base;
    @include f-inner;

    @include f-field {
        line-height: $f-textarea-lineheight;
        display: block; // Gets rid of bottom padding

        &[data-field] {
            resize: none; // JS Takes care of resizing
        }
    }

    @include f-label($b);
    @include f-label-text($b);
    @include f-indicator($b);
    @include f-message;
}