// Variables, mixins, and functions
@import './imports/common';

// Base
.f-textarea {
    $b: #{&};
    @include f-core-base;
    @include f-core-inner;

    @include f-core-field {
        line-height: $f-textarea-lineheight;
        display: block; // Gets rid of bottom padding

        &[data-field] {
            resize: none; // JS Takes care of resizing
        }
    }

    @include f-core-label($b);
    @include f-core-label-text($b);
    @include f-core-indicator($b);
    @include f-core-message;
}
