// Variables, mixins, and functions
@import './../../common/core/all';

// Misc
$f-search-size: 3em !default;
$f-search-icon-size: 1em !default;

// Border
$f-search-border-color: $f-core-border-color !default;
$f-search-border-width: $f-core-border-width !default;

// Label
$f-search-label-color: $f-core-label-color !default;
$f-search-label-color-hover: $f-core-label-color-hover !default;
$f-search-label-color-focus: $f-core-label-color-focus !default;

// Box
$f-search-background-color: $f-core-background-color !default;
$f-search-background-color-hover: $f-core-highlight-color !default;
$f-search-background-color-focus: $f-search-background-color-hover !default;
