// ================================
// Search Common
// Variables / mixins / functions
// ================================

// Imports
@import './../../common/core/all';

// General
$f-search__button-extra-width: 0em !default;
$f-search__default-icon-size: 3em !default;
$f-search__default-icon-max-height: 50% !default;
$f-search__default-icon-position: 0em, 0em !default; // translate(x, y) fine tuning

$f-search__border-color: $f-common__border-color !default;
$f-search__border-width: $f-common__border-width !default;

// Label
$f-search__label-color: $f-common__label-color !default;
$f-search__label-color-hover: $f-common__label-color-hover !default;
$f-search__label-color-focus: $f-common__label-color-focus !default;

// Box
$f-search__background-color: $f-common__background-color !default;
$f-search__background-color: red;
