// ================================
// Checkbox Base
// The base styles for themes
// ================================

// Imports
@import './../common/core';

// General > Variables
$f-checkbox--size: 1em !default;
$f-checkbox--spacing: 0.75em !default;
$f-checkbox--transition-duration: $f-transition-duration * 1.5 !default;
$f-checkbox--has-animation: true !default;

// Check > Variables
$f-checkbox--tick-position: -0.25em, 0em !default; // translate(x, y) fine tuning

// Checkbox > Variables
$f-checkbox--border-radius: 0.15em !default;
$f-checkbox--border-width: $f-border-width * 2 !default;

// Label > Variables
$f-checkbox--label-font-size: 1em !default;
$f-checkbox--label-line-height: 1 !default;

// Base
.f-checkbox {
    $block: #{&};

    @include f-base;

    &__inner {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__field {
        clip: rect(1px, 1px, 1px, 1px); // Allows tabbing still
        position: absolute;
    }

    @include f-label($block) {
        $check: '&:after';
        $box: '&:before';

        & {
            color: inherit;
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            transition: transition(color);
            will-change: color;
        }

        #{$check},
        #{$box} {
            content: '';
            display: block;
            font-size: $f-checkbox--size;
        }

        #{$check} {
            transform: scaleX(-1) translate($f-checkbox--tick-position)
                rotate(135deg);
            transform-origin: top left;
            visibility: hidden;
            transition: transition(color);
            will-change: color, width, height;

            // Borders
            border-right: $f-checkbox--border-width solid currentColor;
            border-top: $f-checkbox--border-width solid currentColor;

            // Positioning
            position: absolute;
            left: 0;
            top: 50%;

            // Check > Error
            #{$f-modifier-error} #{$block}__field:not(:disabled) + & {
                color: $f-error-color;
            }

            // Check > Checked
            #{$block}__field:checked + & {
                // TODO: Fix this animation on IE
                visibility: visible;
                @if ($f-checkbox--has-animation) {
                    animation: check $f-checkbox--transition-duration forwards;
                } @else {
                    height: 0.7em;
                    width: 0.35em;
                }
            }

            // Checkbox > Disabled
            #{$block}__field:disabled + & {
                color: $f-border-color-disabled;
            }
        }

        #{$box} {
            border: $f-checkbox--border-width solid currentColor;
            border-radius: $f-checkbox--border-radius;
            margin-right: $f-checkbox--spacing;
            width: 1.2em;
            height: 1.2em;
            display: block;
            transition: transition(color);
            will-change: color;
            flex-shrink: 0;

            // Checkbox > Error
            #{$f-modifier-error} #{$block}__field:not(:disabled) + & {
                color: $f-error-color;
            }

            // Checkbox > Disabled
            #{$block}__field:disabled + & {
                color: $f-border-color-disabled;
            }
        }

        // The checkbox animation
        // Not quite hitting 60fps but unavoidable given we're animating the width and height
        @keyframes check {
            0% {
                height: 0;
                width: 0;
            }
            25% {
                height: 0;
                width: 0.35em;
            }
            50%,
            100% {
                height: 0.7em;
                width: 0.35em;
            }
        }
    }

    @include f-label-text($block) {
        font-size: $f-checkbox--label-font-size;
        line-height: $f-checkbox--label-line-height;
    }

    @include f-indicator($block);
    @include f-message;
}
