// Variables, mixins, and functions
@import './imports/common';

// Base
.f-checkbox {
    $b: #{&};

    & {
        display: inline-block;
    }

    &__field {
        clip: rect(1px, 1px, 1px, 1px); // Allows tabbing still
        position: absolute;
    }

    @include f-core-label($b) {
        & {
            color: inherit;
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            transition: transition(color);
            will-change: color;
        }

        // Cursors
        #{$b}__field:not(:disabled) + & {
            cursor: pointer;
        }

        #{$b}__field:disabled + & {
            cursor: not-allowed;
        }

        // The label text
        #{$b}__label-text {
            color: $f-checkbox-label;

            // Checked label colour
            #{$b}__field:hover + & {
                color: $f-checkbox-label-hover;
            }

            // Checked label colour
            #{$b}__field:checked + & {
                color: $f-checkbox-label-checked;
            }
        }

        // Tick + Tickbox
        &:before,
        &:after {
            content: '';
            display: block;
            font-size: $f-checkbox-size;
        }

        // Tickbox
        &:before {
            color: $f-checkbox-box-color;
            border: $f-checkbox-thickness solid currentColor;
            border-radius: $f-checkbox-box-radius;
            margin-right: $f-checkbox-margin-right;
            width: 1.2em;
            height: 1.2em;
            display: block;
            transition: transition(color);
            will-change: color;
            flex-shrink: 0;
        }

        // Tickbox error colours
        #{$b}__field:not([disabled])#{$f-core-error-selector} + &:before {
            color: $f-core-error-color;
        }

        #{$b}__field:disabled + &:before {
            color: $f-core-disabled-color;
        }

        // Tick
        &:after {
            transform: scaleX(-1) translate(-0.22em, 0) rotate(135deg);
            transform-origin: top left;
            visibility: hidden;
            transition: transition(color);
            will-change: color;

            // Borders
            border-right: $f-checkbox-thickness solid currentColor;
            border-top: $f-checkbox-thickness solid currentColor;

            // Positioning
            position: absolute;
            left: 0;
            top: 50%;
        }

        // Tick checked
        #{$b}__field:checked + &:after {
            animation: check $f-checkbox-transition-duration forwards;
            visibility: visible;
            will-change: width, height;
        }

        // The checkbox animation
        // Not quite hitting 60fps but unavoidable given we're animating the width and height
        @keyframes check {
            0% {
                height: 0;
                width: 0;
            }

            25% {
                height: 0;
                width: 0.35em;
            }

            50%,
            100% {
                height: 0.7em;
                width: 0.35em;
            }
        }
    }

    @include f-core-label-text($b) {
        font-size: $f-checkbox-label-font-size;
        line-height: $f-checkbox-label-line-height;
    }

    @include f-core-indicator($b);
    @include f-core-message;
}
