// ================================
// Checkbox Outlined
// Requires: checkbox/base.scss
// ================================

// Imports
@import './../common/core';
@import './../common/outlined';
@import './../common/core';

// Variables
$fo-checkbox--bg-color: transparent !default;
$fo-checkbox--border-radius: 0.15em !default;
$fo-checkbox--border-width: $f-border-width * 2 !default;

@include f-inside($block: '.f-checkbox', $theme: 'outlined') {
    border-right: $fo-checkbox--border-width solid currentColor;
    border-top: $fo-checkbox--border-width solid currentColor;
}

// Tick > Not disabled + No error
@include f-inside(
    $block: '.f-checkbox',
    $theme: 'outlined',
    $state: ':not(:disabled)',
    $hasError: false
) {
    color: $f-border-color;
}

// Tick > Hover + Not disabled + No error
@include f-inside(
    $block: '.f-checkbox',
    $theme: 'outlined',
    $state: ':hover:not(:disabled)',
    $hasError: false
) {
    color: $f-border-color-hover;
}

// Tick > Focus + Not disabled + No error
@include f-inside(
    $block: '.f-checkbox',
    $theme: 'outlined',
    $state: ':focus:not(:disabled)',
    $hasError: false
) {
    color: $f-border-color-focus;
}

// Tick > Active + Not disabled + No error
@include f-inside(
    $block: '.f-checkbox',
    $theme: 'outlined',
    $state: ':active:not(:disabled)',
    $hasError: false
) {
    color: $f-border-color-active;
}

// Tick > Checked + Not disabled + No error
@include f-inside(
    $block: '.f-checkbox',
    $theme: 'outlined',
    $state: ':checked:not(:disabled)',
    $hasError: false
) {
    color: $f-border-color-filled;
}

// Tickbox
@include f-outside($block: '.f-checkbox', $theme: 'outlined') {
    background-color: $fo-checkbox--bg-color;
    border: $fo-checkbox--border-width solid currentColor;
    border-radius: $fo-checkbox--border-radius;
}

// Tickbox > Not disabled + No error
@include f-outside(
    $block: '.f-checkbox',
    $theme: 'outlined',
    $state: ':not(:disabled)',
    $hasError: false
) {
    color: $f-border-color;
}

// Tickbox > Hover + Not disabled + No error
@include f-outside(
    $block: '.f-checkbox',
    $theme: 'outlined',
    $state: ':hover:not(:disabled)',
    $hasError: false
) {
    color: $f-border-color-hover;
}

// Tickbox > Focus + Not disabled + No error
@include f-outside(
    $block: '.f-checkbox',
    $theme: 'outlined',
    $state: ':focus:not(:disabled)',
    $hasError: false
) {
    color: $f-border-color-focus;
}

// Tickbox > Checked + Not disabled + No error
@include f-outside(
    $block: '.f-checkbox',
    $theme: 'outlined',
    $state: ':checked:not(:disabled)',
    $hasError: false
) {
    color: $f-border-color-filled;
}

// Tickbox > Active + Not disabled + No error
@include f-outside(
    $block: '.f-checkbox',
    $theme: 'outlined',
    $state: ':active:not(:disabled)',
    $hasError: false
) {
    color: $f-border-color-active;
}

// Label text
@include f-label-text(
    $block: '.f-checkbox',
    $theme: 'outlined',
    $state: ':not(:disabled)'
) {
    color: $f-text-color;
}

// Message
@include f-message($block: '.f-checkbox', $theme: 'outlined') {
    margin: $fo-message-margin;
}
