// ================================
// Checkbox Outlined
// Requires: checkbox/base.scss
// ================================

// Imports
@import './../common/core';
@import './../common/outlined';

// Theme
.f-checkbox--outlined {
    $block: '.f-checkbox';
    $check: $block + '__label:after';
    $box: $block + '__label:before';

    #{$block}__label-text {
        color: $f-text-color;
    }

    // Not error + not disabled fields
    &:not(#{$f-modifier-error}) #{$block}__field:not(:disabled) {
        // Tick
        + #{$check} {
            color: $f-highlight-color;
        }

        // Tick > Hover
        &:hover + #{$check} {
            color: $f-highlight-color;
        }

        // Tick > Focus
        &:focus + #{$check} {
            color: $f-highlight-color;
        }

        // Tick > Active
        &:active + #{$check} {
            color: $f-highlight-color;
        }

        // Box
        + #{$box} {
            color: $f-border-color;
        }

        // Box > Hover
        &:hover + #{$box} {
            color: $f-border-color-hover;
        }

        // Box > Focus
        &:focus + #{$box} {
            color: $f-border-color-focus;
        }

        // Box > Checked
        &:checked + #{$box} {
            color: $f-highlight-color;
        }

        // Box > Active
        &:active + #{$box} {
            color: $f-highlight-color;
        }
    }

    @include fo-message($block) {
        margin: $fo-message-margin;
    }
}
