// ================================
// Checkbox Solid
// Requires: checkbox/base.scss
// ================================

// Imports
@import './imports/imports';
@import './../common/solid/all';

// Tick
$f-checkbox--solid__tick-color: white !default;
$f-checkbox--solid__tick-color-checked: $f-checkbox--solid__tick-color !default;
$f-checkbox--solid__tick-color-hover: $f-checkbox--solid__tick-color !default;
$f-checkbox--solid__tick-color-focus: $f-checkbox--solid__tick-color !default;
$f-checkbox--solid__tick-color-active: $f-checkbox--solid__tick-color-checked !default;

// Tickbox
$f-checkbox--solid__tickbox-color: $f-common__border-color !default;
$f-checkbox--solid__tickbox-color-checked: $f-common__highlight-color !default;
$f-checkbox--solid__tickbox-color-hover: $f-checkbox--solid__tickbox-color-checked !default;
$f-checkbox--solid__tickbox-color-focus: $f-checkbox--solid__tickbox-color-checked !default;
$f-checkbox--solid__tickbox-color-active: $f-checkbox--solid__tickbox-color-checked !default;

// Theme
.f-checkbox--solid {
    $b: '.f-checkbox';
    $tick: $b + '__label:after';
    $tickbox: $b + '__label:before';

    &:not(#{$f-modifier__error}) {
        #{$b}__field:not([disabled]) {

            // Tick
            +#{$tick} {
                color: $f-checkbox--solid__tick-color;
            }

            // Tick > Checked
            &:checked+#{$tick} {
                color: $f-checkbox--solid__tick-color-checked;
            }

            // Tick > Focus
            &:focus+#{$tick} {
                color: $f-checkbox--solid__tick-color-focus;
            }

            // Tick > Hover
            &:hover+#{$tick} {
                color: $f-checkbox--solid__tick-color-hover;
            }

            // Tick > Active
            &:active+#{$tick} {
                color: $f-checkbox--solid__tick-color-active;
            }

            // Tickbox
            +#{$tickbox} {
                color: $f-checkbox--solid__tickbox-color;
            }

            // Tickbox > Checked
            &:checked+#{$tickbox} {
                color: $f-checkbox--solid__tickbox-color-checked;
                background-color: currentColor;
            }

            // Tickbox > Focus
            &:focus+#{$tickbox} {
                color: $f-checkbox--solid__tickbox-color-focus;
            }

            // Tickbox > Hover
            &:hover+#{$tickbox} {
                color: $f-checkbox--solid__tickbox-color-hover;
            }

            // Tickbox > Active
            &:active+#{$tickbox} {
                color: $f-checkbox--solid__tickbox-color-active;
            }
        }
    }

    // Tick > Error
    &#{$f-modifier__error} #{$b}__field:checked+#{$tick} {
        color: $f-checkbox--solid__tick-color-checked;
    }

    // Tickbox > Error
    #{$tickbox} {
        transition: background-color .2s;
    }
    &#{$f-modifier__error} #{$b}__field:checked+#{$tickbox} {
        background-color: currentColor;
    }

    #{$b}__message {
        margin: $f-solid-message-margin;
    }
}