// ================================
// Checkbox Solid
// Requires: checkbox/base.scss
// ================================

// Imports
@import './../common/core';

// Check > Variables
$fs-checkbox--check-color: white !default;

// Messages > Variables
$fs-message-margin: 0.5em 0 0 0 !default;

// Theme
.f-checkbox--solid {
    $block: '.f-checkbox';
    $check: $block + '__label:after';
    $box: $block + '__label:before';

    &:not(#{$f-modifier-error}) {
        #{$block}__field:not(:disabled) {
            // Tick
            + #{$check} {
                color: $fs-checkbox--check-color;
            }

            // Tickbox
            + #{$box} {
                color: $f-border-color;
            }

            // Tickbox > Checked
            &:checked + #{$box} {
                color: $f-highlight-color;
                background-color: currentColor;
            }

            // Tickbox > Focus
            &:focus + #{$box} {
                color: $f-border-color-focus;
            }

            // Tickbox > Hover
            &:hover + #{$box} {
                color: $f-border-color-hover;
            }

            // Tickbox > Active
            &:active + #{$box} {
                color: $f-highlight-color;
            }
        }
    }

    // Tick > Error
    &#{$f-modifier-error} #{$block}__field:checked + #{$check} {
        color: $fs-checkbox--check-color;
    }

    // Tickbox > Error
    #{$box} {
        transition: background-color 0.2s;
    }
    &#{$f-modifier-error} #{$block}__field:checked + #{$box} {
        background-color: currentColor;
    }

    #{$block}__message {
        margin: $fs-message-margin;
    }
}
