// ================================
// Checkbox Solid
// Requires: checkbox/base.scss
// ================================

// Imports
@import './../core/core';

// Variables > Checkbox
$fs-checkbox--check-color: white !default;
$fs-checkbox--message-margin: 0.5em 0 0 0 !default;
$fs-checkbox--border-radius: 0.15em !default;
$fs-checkbox--border-width: $f-border-width * 2 !default;

$field: 'checkbox';
$theme: 'solid';
$common-args: ($field, $theme);

// Theme
.f-checkbox--solid {
    $block: '.f-checkbox';
    $check: $block + '__label:after';
    $box: $block + '__label:before';

    #{$check} {
        border-right: $fs-checkbox--border-width solid currentColor;
        border-top: $fs-checkbox--border-width solid currentColor;
    }

    #{$box} {
        background-color: $f-bg-color;
        border: $fs-checkbox--border-width solid currentColor;
        border-radius: $fs-checkbox--border-radius;
    }

    &:not(#{$f-selector-error}) {
        #{$block}__field:not(:disabled) {
            // Tick
            + #{$check} {
                color: $fs-checkbox--check-color;
            }

            // Tickbox
            + #{$box} {
                color: $f-border-color;
            }

            // Tickbox > Checked
            &:checked + #{$box} {
                color: $f-highlight-color;
                background-color: currentColor;
            }

            // Tickbox > Focus
            &:focus + #{$box} {
                color: $f-border-color-focus;
            }

            // Tickbox > Hover
            &:hover + #{$box} {
                color: $f-border-color-hover;
            }

            // Tickbox > Active
            &:active + #{$box} {
                color: $f-highlight-color;
            }
        }
    }

    // Tick > Error
    &#{$f-selector-error} #{$block}__field:checked + #{$check} {
        color: $fs-checkbox--check-color;
    }

    // Tickbox > Error
    #{$box} {
        transition: background-color 0.2s;
    }
    &#{$f-selector-error} #{$block}__field:checked + #{$box} {
        background-color: currentColor;
    }

    #{$block}__message {
        margin: $fs-checkbox--message-margin;
    }
}


// Label text > Checked + Not disabled + No error
@include f-label-text(
    $common-args...,
    $state: ':checked:not(:disabled)',
    $has-error: false,
) {
    color: $f-label-color-filled;
}