// ================================
// Switch Base
// The base styles for themes
// ================================

// Imports
@import './imports/imports';

$f-switch__switchbox-color-disabled: $f-common__disabled-border-color !default;

// Base
.f-switch {
    $b: #{&};

    @include f-core-base;

    &__inner {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__field {
        clip: rect(1px, 1px, 1px, 1px); // Allows tabbing still
        position: absolute;
    }

    @include f-core-label($b) {
        $switch: '&:after';
        $switchbox: '&:before';

        & {
            color: inherit;
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            transition: transition(color);
            will-change: color;
        }

        // The label text
        #{$b}__label-text {
            color: $f-switch__label-color;

            // Checked label colour
            #{$b}__field:hover + & {
                color: $f-switch__label-hover;
            }

            // Focus label colour
            #{$b}__field:active + & {
                color: $f-switch__label-focus;
            }

            // Active label colour
            #{$b}__field:active + & {
                color: $f-switch__label-active;
            }

            // Checked label colour
            #{$b}__field:checked + & {
                color: $f-switch__label-checked;
            }
        }

        // Switchbox + Switch
        #{$switchbox},
        #{$switch} {
            content: '';
            display: block;
            font-size: $f-switch-size;
            color: $f-switch__field-color;
            flex-shrink: 0;
            flex-grow: 0;
        }

        #{$switchbox} {
            border: $f-switch-thickness solid currentColor;
            border-radius: 50vh;
            margin-right: $f-switch__spacing;
            width: 2em;
            height: 1em;
            display: block;
            transition: transition(color);
            will-change: color;

            // Switchbox > Disabled
            #{$b}__field:disabled + & {
                color: $f-switch__switchbox-color-disabled;
            }

            // Switchbox > Error
            #{$f-modifier__error} #{$b}__field:not([disabled]) + & {
                color: $f-common__error-color;
            }
        }

        #{$switch} {
            position: absolute;
            left: 0;
            width: $f-switch-size;
            height: $f-switch-size;
            background-color: white;
            border-radius: 50%;
            border: $f-switch-thickness solid currentColor;
            transition: color $f-switch__transition-duration
                    $f-switch__transition-timing,
                transform 0.1s;
            will-change: color, transform;
            transform: translateX(-0.1em);

            // Switch > Disabled
            #{$b}__field:disabled + & {
                color: $f-switch__switchbox-color-disabled;
            }

            // Switch > Error
            #{$f-modifier__error} #{$b}__field:not([disabled]) + & {
                color: $f-common__error-color;
            }
        }
    }

    @include f-core-label-text($b) {
        font-size: $f-switch__label-font-size;
        line-height: $f-switch__label-line-height;
    }

    @include f-core-indicator($b);
    @include f-core-message;
}
