// ================================
// Switch Formal
// Requires: switch/base.scss
// ================================

// Imports
@import './imports/imports';
@import './../common/outlined/all';

// Button
$f-switch--outlined__switch-color: $f-common__border-color !default;
$f-switch--outlined__switch-color-hover: $f-common__highlight-color !default;
$f-switch--outlined__switch-color-focus: $f-switch--outlined__switch-color !default;
$f-switch--outlined__switch-color-active: $f-switch--outlined__switch-color !default;
$f-switch--outlined__switch-color-switched: $f-common__highlight-color !default;
$f-switch--outlined__switch-bg-color-focus: $f-common__highlight-color !default;

// Box
$f-switch--outlined__switchbox-color: $f-common__border-color !default;
$f-switch--outlined__switchbox-color-hover: $f-switch--outlined__switchbox-color !default;
$f-switch--outlined__switchbox-color-focus: $f-switch--outlined__switchbox-color !default;
$f-switch--outlined__switchbox-color-active: $f-switch--outlined__switchbox-color !default;
$f-switch--outlined__switchbox-color-switched: $f-common__highlight-color !default;

// Theme
.f-switch--formal {
    $b: '.f-switch';
    $switch: $b + '__label:after';
    $switchbox: $b + '__label:before';

    #{$switch} {
        box-shadow: inset 0 0 0 4px white;
        background-color: currentColor;
    }

    // Not error + not disabled fields
    &:not(#{$f-modifier__error}) {
        #{$b}__field:not(:disabled) {
            // Switch
            & + #{$switch} {
                color: $f-switch--outlined__switch-color;
                transition: background-color $f-common__transition-duration
                        $f-common__transition-timing,
                    color $f-common__transition-duration
                        $f-common__transition-timing,
                    transform 0.1s;
                will-change: color, transform;
            }

            // Switch > Hover
            &:hover + #{$switch} {
                background-color: $f-switch--outlined__switch-bg-color-focus;
            }

            // Switch > Focus
            &:focus + #{$switch} {
                background-color: $f-switch--outlined__switch-bg-color-focus;
                color: $f-switch--outlined__switch-color-focus;
            }

            // Switch > Active
            &:active + #{$switch} {
                color: $f-switch--outlined__switch-color-active;
                animation: tremble $f-common__transition-duration/1.5 forwards
                    infinite;
            }

            // Switch > Checked
            &:checked + #{$switch} {
                color: $f-switch--outlined__switch-color-switched;
                transform: translateX(0.75em + 0.1em);
            }

            // Switch > Unchecked > Active
            &:not(:checked):active + #{$switch} {
                transform: translateX(-0.2em);
            }

            // Switch > Checked > Active
            &:checked:active + #{$switch} {
                transform: translateX(0.75em + 0.2em);
            }

            // Switchbox
            & + #{$switchbox} {
                color: $f-switch--outlined__switchbox-color;
            }

            // Switchbox > Hover
            &:hover + #{$switchbox} {
                color: $f-switch--outlined__switchbox-color-hover;
            }

            // Switchbox > Focus
            &:hover + #{$switchbox} {
                color: $f-switch--outlined__switchbox-color-focus;
            }

            // Switchbox > Active
            &:active + #{$switchbox} {
                color: $f-switch--outlined__switchbox-color-active;
            }

            // Switchbox > Checked
            &:checked + #{$switchbox} {
                color: $f-switch--outlined__switchbox-color-switched;
            }
        }
    }

    @keyframes tremble {
        to {
            margin-left: 1px;
        }
    }

    @include f-outlined-message($b) {
        margin: $f-outlined__message-margin;
    }
}
