// ================================
// Fieldset Base
// The base styles for themes
// ================================

// Imports
@import './../core/core';
@import './../core/common';

// Variables
$f-fieldset--content-spacing: 1.25em !default;

$field: 'fieldset';

// Mixins
@include f-common-base($field);
@include f-common-inner($field);
@include f-common-message($field);
@include f-common-legend($field);
@include f-common-legend-indicator($field);
@include f-common-legend-text($field);

@include f-base($field) {
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

@include f-inner($field) {
    // Chrome is reported to incorrectly calculate the container height, and often breaks on margins, padding, and can display 1px of the next column at the bottom of the previous column. Part of these issues can be solved by adding -webkit-perspective:1; to the column container. This creates a new stacking context for the container, and apparently causes chrome to (re)calculate column layout.
    -webkit-perspective: 1;
    transform: translateZ(0); // Fix the border disappearing bug in Chrome

    &--stacked {
        margin-top: -$f-fieldset--content-spacing;
        & > * {
            padding-top: $f-fieldset--content-spacing;
            width: 100%;
        }
    }

    &--one-line {
        margin-top: -$f-fieldset--content-spacing;
        display: flex;
        flex-wrap: wrap;
        & > * {
            padding-top: $f-fieldset--content-spacing;
            margin-right: $f-fieldset--content-spacing * 1.25;
            width: auto;
        }
    }

    // Columns > Make them break appropriately
    > * {
        break-inside: avoid;
    }
}

@include f-legend-label($field) {
    display: flex;
    align-items: center;
}

// Indicator > Filled (not disabled/hover/focus/error)
@include f-legend-indicator($field, $has-error: false, $is-filled: true) {
    color: $f-border-color-filled;
}
