// ================================
// Fieldset Base
// The base styles for themes
// ================================

// Imports
@import './../core/core';
@import './../core/common';

// Variables
$field: 'fieldset';

// Mixins
@include f-common-base($field);
@include f-common-inner($field);
@include f-common-message($field);
@include f-common-legend($field);
@include f-common-legend-indicator($field);
@include f-common-legend-text($field);

@include f-base($field) {
    border: 0;
    margin: 0;
    padding: 0;
}

@include f-inner($field) {
    &--stacked {
        & > * {
            width: 100%;
        }
    }

    &--one-line {
        display: flex;
        flex-wrap: wrap;
        & > * {
            width: auto;
        }
    }

    // Columns > Make them break appropriately
    > * {
        break-inside: avoid;
    }
}

@include f-legend-label($field) {
    display: flex;
    align-items: center;
}
