// ================================
// Fieldset Naked
// Requires: fieldset/base.scss
// ================================

// Imports
@import './imports/imports';

// Variables
$f-fieldset--naked__top-spacing: 1em !default;
$f-fieldset--naked__bottom-spacing: 1em !default;

// Theme
.f-fieldset--naked {
    $b: '.f-fieldset';

    #{$b}__label {
        display: block;
    }

    #{$b}__inner {
        margin-top: $f-fieldset--naked__top-spacing;
        margin-bottom: $f-fieldset--naked__bottom-spacing;
    }

    // Error > Label text colours
    &#{$f-modifier__error-fieldset} #{$b}__label #{$b}__label-text {
        color: $f-common__error-color;
    }
}
