// ================================
// Fieldset Outlined
// Requires: fieldset/base.scss
// ================================

// Imports
@import './imports/imports';
@import './../common/outlined/all';

// Padding
$f-fieldset--outlined__padding-left: 2em !default;
$f-fieldset--outlined__padding-right: $f-fieldset--outlined__padding-left !default;
$f-fieldset--outlined__padding-top: 2.75em !default;
$f-fieldset--outlined__padding-bottom: 2em !default;

// Borders
$f-fieldset--outlined__border-width: $f-common__border-width !default;
$f-fieldset--outlined__border-color: $f-common__border-color !default;
$f-fieldset--outlined__border-radius: $f-outlined__border-radius !default;

// Theme
.f-fieldset--outlined {
    $b: '.f-fieldset';

    #{$b}__label {
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        line-height: 1;
        top: 0;
        left: $f-fieldset--outlined__padding-left;
        transform: translateY(-50%);
    }

    #{$b}__label-text {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -0.35em;
            right: -0.35em;
            z-index: -1;
            background-color: $f-common__background-color;
        }
    }

    // Error > Label text colours
    &#{$f-fieldset__modifier-error} #{$b}__label-text {
        color: $f-common__error-color;
    }

    #{$b}__inner {
        border: $f-fieldset--outlined__border-width solid
            $f-fieldset--outlined__border-color;
        border-radius: $f-fieldset--outlined__border-radius;
        padding-top: $f-fieldset--outlined__padding-top;
        padding-bottom: $f-fieldset--outlined__padding-bottom;
        padding-left: $f-fieldset--outlined__padding-left;
        padding-right: $f-fieldset--outlined__padding-right;
    }

    // Error > Border colour
    &#{$f-fieldset__modifier-error} #{$b}__inner {
        border-color: $f-common__border-color-error;
        box-shadow: inset 0 0 0
            calc(#{$f-common__border-width-error} - #{$f-common__border-width})
            $f-common__border-color-error;
    }

    @include f-outlined-message($b) {
        margin: $f-outlined__message-margin-inset;
    }
}
