// ================================
// Fieldset Outlined
// Requires: fieldset/base.scss
// ================================

// Imports
@import './../common/core';
@import './../common/outlined';

// Variables > Padding
$fo-fieldset--padding-top: 2.25em !default;
$fo-fieldset--padding-bottom: 1.5em !default;
$fo-fieldset--padding-left: 1.75em !default;
$fo-fieldset--padding-right: $fo-fieldset--padding-left !default;
$fo-fieldset--message-margin: 1.5em 0 -.75em $fo-fieldset--padding-left !default;
$fo-fieldset--content-spacing: 1.25em !default;

// Theme
.f-fieldset--outlined {
    $block: '.f-fieldset';
    $error: '.has-error-fieldset';

    & {
        border: $f-border-width solid $f-border-color;
        border-radius: $fo-border-radius;
    }

    #{$block}__inner {
        padding-top: $fo-fieldset--padding-top;
        padding-bottom: $fo-fieldset--padding-bottom;
        padding-left: $fo-fieldset--padding-left;
        padding-right: $fo-fieldset--padding-right;

        &--stacked {
            margin-top: -$fo-fieldset--content-spacing;
            & > * {
                padding-top: $fo-fieldset--content-spacing;
            }
        }

        &--one-line {
            display: flex;
            flex-wrap: wrap;

            & > * {
                &:not(:last-child) {
                    margin-right: $fo-fieldset--content-spacing;
                }
            }
        }
    }

    #{$block}__label {
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        line-height: 1;
        top: 0;
        left: $fo-fieldset--padding-left;
        transform: translateY(-50%);
    }

    #{$block}__label-text {
        color: $f-text-color;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -0.35em;
            right: -0.35em;
            z-index: -1;
            background-color: $f-bg-color;
        }
    }

    // Error > Label text colors
    &#{$error} #{$block}__label-text {
        color: $f-error-color;
    }

    // Error > Border color
    &#{$error} {
        border-color: $f-border-color-error;
        box-shadow: inset 0 0 0
            calc(#{$f-border-width-error} - #{$f-border-width})
            $f-border-color-error;
    }

    @include fo-message($block) {
        margin: $fo-fieldset--message-margin;
    }
}
