// ================================
// Fieldset Outlined
// Requires: fieldset/base.scss
// ================================

// Imports
@import './../core/core';
@import './../core/outlined';

// Variables
$fo-fieldset--padding-top: 2.25em !default;
$fo-fieldset--padding-bottom: 1.5em !default;
$fo-fieldset--padding-left: 1.75em !default;
$fo-fieldset--padding-right: $fo-fieldset--padding-left !default;
$fo-fieldset--message-margin: 1.5em 0 -0.75em calc(#{$fo-fieldset--padding-left} +
            #{$f-border-width}) !default;

$field: 'fieldset';
$theme: 'outlined';
$common-args: ($field, $theme);

@include f-base($common-args...) {
    border: $f-border-width solid $f-border-color;
    border-radius: $fo-border-radius;
}

// Base > Error
@include f-base($common-args..., $has-error: true) {
    border-color: $f-border-color-error;
    @if ($f-border-width-error > $f-border-width) {
        box-shadow: inset
            0
            0
            0
            calc(#{$f-border-width-error} - #{$f-border-width})
            $f-border-color-error;
    }
}

@include f-inner($common-args...) {
    padding-top: $fo-fieldset--padding-top;
    padding-bottom: $fo-fieldset--padding-bottom;
    padding-left: $fo-fieldset--padding-left;
    padding-right: $fo-fieldset--padding-right;
}

@include f-legend($common-args...) {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    line-height: 1;
    top: 0;
    left: $fo-fieldset--padding-left;
    transform: translateY(-50%);
    float: left; // https://stackoverflow.com/a/30513633
}

@include f-legend-text($common-args...) {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -0.35em;
        right: -0.35em;
        z-index: -1;
        background-color: $f-bg-color;
    }
}

@include f-inner($common-args...) {
    // Display nicely again after the legend float
    float: left;
    width: 100%;
}

@include f-message($common-args...) {
    margin: $fo-fieldset--message-margin;
}
