// Variables, mixins, and functions
@import './../../common/core/all';

// Variables
$f-fieldset-label-font-size: $f-core-text-font-size !default;
$f-fieldset-label-color: $f-core-text-color !default;
$f-fieldset-content-spacing: 1.25em !default;
