// ================================
// Fieldset Common
// Variables / mixins / functions
// ================================

// Imports
@import './../../common/core/all';

// Variables
$f-fieldset__label-font-size: $f-common__text-font-size !default;
$f-fieldset__label-color: $f-common__text-color !default;
$f-fieldset__content-spacing: 1.25em !default;

// Modifiers
$f-fieldset__modifier-error: '.has-error-fieldset' !default;
