// ================================
// File Outlined
// Requires: file/base.scss
// ================================

// Imports
@import './../common/core';
@import './../common/outlined';

// Theme
.f-file--outlined {
    $block: '.f-file';

    @include fo-field($block) {
        appearance: none;
    }
    @include fo-label($block) {
        top: 0;
        bottom: 0;
        left: calc(
            #{$f-border-width} + #{$f-field-padding-left}
        );
        transform: translateY(-$f-field-padding-top);
    }
    @include fo-label-text($block) {
        transform: translateY(-50%)
            translateY(floor(-$f-border-width/2))
            scale($fo-label-scale);
        color: $f-text-color;
    }
    @include fo-indicator($block);
    @include fo-message($block) {
        margin: $fo-message-margin-inset;
    }
}
