// ================================
// File Outlined
// Requires: file/base.scss
// ================================

// Imports
@import './../core/core';
@import './../core/outlined';

// Variables
$field: 'file';
$theme: 'outlined';
$common-args: ($field, $theme);

// Mixins
@include fo-common-field($field);
@include fo-common-label($field);
@include fo-common-label-text($field);
@include fo-common-indicator($field);

@include f-field($common-args...) {
    -webkit-appearance: none;
    appearance: none;
}

@include f-label($common-args...) {
    top: 0;
    bottom: 0;
    left: calc(#{$f-border-width} + #{$fo-field-padding-left});
    transform: translateY(-$fo-field-padding-top);
}

@include f-label-text($common-args...) {
    color: $f-text-color;
    transform: translateY(-50%) translateY(floor(-$f-border-width/2))
        scale($fo-label-scale);
    transition: transition(transform), transition(color), transition(letter-spacing);
    will-change: transform, color;
}

@include f-message($common-args...) {
    margin: $fo-message-margin-inset;
}