// Variables, mixins, and functions
@import './../../common/core/all';

// Other
$f-radio-outer-thickness: 2px !default;
$f-radio-size: 1em !default;
$f-radio-inner-scale: 0.45 !default;
$f-radio-radius: 50% !default;
$f-radio-padding-left: 0.75em !default;
$f-radio-transition-duration: 0.35s !default;

// Dot
$f-radio-center-color: $f-core-highlight-color !default;
$f-radio-center-color-checked: $f-radio-center-color !default;
$f-radio-center-color-hover: $f-radio-center-color !default;
$f-radio-center-color-focus: $f-radio-center-color !default;

// Circle
$f-radio-border-color: $f-core-border-color !default;
$f-radio-border-color-checked: $f-core-highlight-color !default;
$f-radio-border-color-hover: $f-radio-border-color-checked !default;
$f-radio-border-color-focus: $f-radio-border-color-checked !default;

// Label
$f-radio-label: $f-core-text-color !default;
$f-radio-label-hover: $f-radio-label !default;
$f-radio-label-checked: $f-radio-label !default;
$f-radio-label-font-size: 1em !default;
$f-radio-label-line-height: 1 !default;
