// ================================
// Radio Common
// Variables / mixins / functions
// ================================

// Imports
@import './../../common/core/all';

// General
$f-radio__size: 1.2em !default;
$f-radio__radius: 50% !default;
$f-radio__spacing: 0.5em !default;

// Dot
$f-radio__center-color: $f-common__highlight-color !default;
$f-radio__center-color-checked: $f-radio__center-color !default;
$f-radio__center-color-hover: $f-radio__center-color !default;
$f-radio__center-color-focus: $f-radio__center-color !default;
$f-radio__center-scale-checked: 0.45 !default;

// Circle
$f-radio__border-thickness: 2px !default;
$f-radio__border-scale-active: 0.9 !default;
$f-radio__border-color: $f-common__border-color !default;
$f-radio__border-color-checked: $f-common__highlight-color !default;
$f-radio__border-color-hover: $f-radio__border-color-checked !default;
$f-radio__border-color-focus: $f-radio__border-color-checked !default;
$f-radio__border-color-disabled: $f-common__disabled-border-color !default;

// Label
$f-radio__label-color: $f-common__text-color !default;
$f-radio__label-hover: $f-radio__label-color !default;
$f-radio__label-checked: $f-radio__label-color !default;
$f-radio__label-font-size: 1em !default;
$f-radio__label-line-height: 1 !default;
