// ================================
// Radio Base
// The base styles for themes
// ================================

// Imports
@import './../common/core';

// General
$f-radio--spacing: 0.5em !default;

// Label
$f-radio--label-font-size: 1em !default;
$f-radio--label-line-height: 1 !default;

// Base
.f-radio {
    $block: #{&};

    @include f-base;

    &__inner {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__field {
        clip: rect(1px, 1px, 1px, 1px); // Allows tabbing still
        position: absolute;
    }

    @include f-label($block) {
        $inner: '&:after';
        $outer: '&:before';

        & {
            color: inherit;
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            transition: transition(color);
            will-change: color;
        }

        #{$outer},
        #{$inner} {
            content: '';
            display: block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
        }

        #{$outer} {
            display: block;
            margin-right: $f-radio--spacing;

            // Outer > Error
            #{$f-modifier-error} #{$block}__field:not(:disabled) + & {
                color: $f-error-color;
            }

            // Outer > Disabled
            #{$block}__field:disabled + & {
                color: $f-border-color-disabled;
            }
        }

        #{$inner} {
            background-color: currentColor;
            transform: scale(0);
            transition: transition(transform);
            will-change: transform;
            position: absolute;

            // Inner > Error
            #{$f-modifier-error} #{$block}__field:not(:disabled) + & {
                color: $f-error-color;
            }

            // Inner > Checked
            #{$block}__field:checked + & {
                visibility: visible;
            }

            // Inner > Disabled
            #{$block}__field:disabled + & {
                color: $f-disabled-color;
            }
        }
    }

    @include f-label-text($block) {
        font-size: $f-radio--label-font-size;
        line-height: $f-radio--label-line-height;
    }

    @include f-indicator($block);

    @include f-message;
}
