// Variables, mixins, and functions
@import './imports/common';
@import './../common/outlined/all';

// Theme
.f-radio--outlined {
    $b: '.f-radio';

    #{$b}__field:not([disabled]) {
        // Dot
        + .f-radio__radio + .f-radio__label:after {
            color: $f-radio-dot-color;
        }

        // Dot hovered
        &:hover + .f-radio__radio:after {
            color: $f-radio-dot-color-hover;
        }

        // Dot hovered
        &:focus + .f-radio__radio:after {
            color: $f-radio-dot-color-focus;
        }

        // Circle checked
        &:checked + .f-radio__radio:before {
            color: $f-radio-circle-color-checked;
        }

        // Circle hovered
        &:hover + .f-radio__radio:before {
            color: $f-radio-circle-color-hover;
        }

        // Circle hovered
        &:focus + .f-radio__radio:before {
            color: $f-radio-circle-color-focus;
        }
    }

    @include f-core-outlined-message($b) {
        margin-left: 0;
    }
}
