// ================================
// Radio Outlined
// Requires: radio/base.scss
// ================================

// Imports
@import './imports/imports';
@import './../common/outlined/all';

// Theme
.f-radio--outlined {
    $b: '.f-radio';
    $inner: $b + '__label:after';
    $outer: $b + '__label:before';

    // Not error + not disabled fields
    &:not(#{$f-modifier__error}) {
        #{$b}__field:not([disabled]) {
            // Inner (scale(0) by default)
            + #{$inner} {
                color: $f-radio-center-color;
            }

            // Inner > Hover
            &:hover + #{$inner} {
                color: $f-radio-center-color-hover;
            }

            // Inner > Focus
            &:focus + #{$inner} {
                color: $f-radio-center-color-focus;
            }

            // Inner > Checked
            &:checked + #{$inner} {
                color: $f-radio-center-color-checked;
            }

            // Outer
            + #{$outer} {
            }

            // Outer > Hover
            &:hover + #{$outer} {
                color: $f-radio-border-color-hover;
            }

            // Outer > Focus
            &:focus + #{$outer} {
                color: $f-radio-border-color-focus;
            }

            // Outer > Checked
            &:checked + #{$outer} {
                color: $f-radio-border-color-checked;
            }
        }
    }

    @include f-outlined-message($b) {
        margin: $f-outlined-message-margin;
    };
}
