// ================================
// Radio Outlined
// Requires: radio/base.scss
// ================================

// Imports
@import './../common/core';
@import './../common/outlined';

// General
$fo-radio--size: 1.2em !default;
$fo-radio--radius: 50% !default;
$fo-radio--center-scale-checked: 0.45 !default;
$fo-radio--border-scale-active: 0.9 !default;
$fo-radio--border-width: $f-border-width * 2 !default;

// Theme
.f-radio--outlined {
    $block: '.f-radio';
    $inner: $block + '__label:after';
    $outer: $block + '__label:before';

    #{$outer},
    #{$inner} {
        font-size: $fo-radio--size;
        border-radius: $fo-radio--radius;
        border: $fo-radio--border-width solid currentColor;
    }

    // Inner > Checked
    #{$block}__field:checked + #{$inner} {
        transform: scale(#{$fo-radio--center-scale-checked});
    }

    // Outer
    #{$outer} {
        color: $f-border-color;
        transition: transition(color),
            transform 0.1s;
        will-change: color, transform;
    }

    // Outer > Active
    #{$block}__field:not(:disabled):active + #{$outer} {
        transform: translateZ(0) scale(#{$fo-radio--border-scale-active});
    }

    #{$block}__label-text {
        color: $f-text-color;
    }

    // Not error + not disabled fields
    &:not(#{$f-modifier-error}) #{$block}__field:not(:disabled) {

        // Inner (scale(0) by default)
        + #{$inner} {
            color: $f-highlight-color;
        }

        // Inner > Hover
        &:hover + #{$inner} {
            color: $f-highlight-color;
        }

        // Inner > Focus
        &:focus + #{$inner} {
            color: $f-highlight-color;
        }

        // Inner > Checked
        &:checked + #{$inner} {
            color: $f-highlight-color;
        }

        // Outer > Hover
        &:hover + #{$outer} {
            color: $f-highlight-color;
        }

        // Outer > Focus
        &:focus + #{$outer} {
            color: $f-highlight-color;
        }

        // Outer > Checked
        &:checked + #{$outer} {
            color: $f-highlight-color;
        }
    }

    @include fo-message($block) {
        margin: $fo-message-margin;
    }
}
