// Variables, mixins, and functions
@import './imports/common';

// Base
.f-radio {
    $b: #{&};

    @include f-core-base;

    &__inner {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__field {
        clip: rect(1px, 1px, 1px, 1px); // Allows tabbing still
        position: absolute;
    }

    &__radio {
        & {
            display: flex;
            align-items: center;
            position: relative;
        }

        // Cursors
        #{$b}__field:not(:disabled) + & {
            cursor: pointer;
        }

        #{$b}__field:disabled + & {
            cursor: not-allowed;
        }

        // Circle and dot
        &:before,
        &:after {
            content: '';
            display: block;
            font-size: $f-radio-size;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            border-radius: $f-radio-radius;
            border: $f-radio-outer-thickness solid currentColor;
        }

        // Circle
        &:before {
            color: $f-radio-border-color;
            display: block;
            transition: transition(color);
            will-change: color;
        }

        // Dot
        &:after {
            transform: scale(0);
            background-color: currentColor;
            transition: transition(transform);
            will-change: transform;

            // Positioning
            position: absolute;
            left: 0;
            top: 0;
        }

        // Tick checked
        #{$b}__field:checked + &:after {
            transform: scale(#{$f-radio-inner-scale});
            visibility: visible;
            will-change: transform;
        }
    }

    @include f-core-label($b) {
        & {
            color: inherit;
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            transition: transition(color);
            will-change: color;
            padding-left: $f-radio-padding-left;
        }

        // Cursors
        #{$b}__field:not(:disabled) + #{$b}__radio + & {
            cursor: pointer;
        }

        #{$b}__field:disabled + #{$b}__radio + & {
            cursor: not-allowed;
        }

        // The label text
        #{$b}__label-text {
            color: $f-radio-label;

            // Checked label colour
            #{$b}__field:hover + #{$b}__radio + & {
                color: $f-radio-label-hover;
            }

            // Checked label colour
            #{$b}__field:checked + #{$b}__radio + & {
                color: $f-radio-label-checked;
            }
        }
    }

    @include f-core-label-text($b) {
        font-size: $f-radio-label-font-size;
        line-height: $f-radio-label-line-height;
    }

    @include f-core-indicator($b);

    @include f-core-message {
        margin-left: 0;
    }
}
