// ================================
// Select Base
// The base styles for themes
// ================================

// Imports
@import './imports/imports';

// Base
.f-select {
    $b: #{&};
    @include f-core-base;
    @include f-core-inner;
    :-moz-focusring {
        color: red;
        outline: 2px dotted green;
    }
    @include f-core-field {
        line-height: initial; // Reset height
        -webkit-appearance: none;
        appearance: none;

        &:not(:disabled):hover,
        &:not(:disabled):focus {
            cursor: pointer;
        }
    }

    @include f-core-label($b);
    @include f-core-label-text($b);
    @include f-core-indicator($b);
    @include f-core-message;
}
