// ================================
// Select Outlined
// Requires: select/base.scss
// ================================

// Imports
@import './../core/core';
@import './../core/outlined';

// Variables > Arrow
$fo-select--arrow-type: 'chevron' !default; // chevron / triangle
$fo-select--arrow-thickness: 0.1em !default;
$fo-select--arrow-size: 0.5em !default;
$fo-select--arrow-color: grey !default;
$fo-select--arrow-color-hover: $f-highlight-color !default;
$fo-select--arrow-color-focus: $fo-select--arrow-color-hover !default;
$fo-select--arrow-color-disabled: $f-border-color-disabled !default;

// Variables > Field
$fo-select--field-padding-right: $fo-field-padding-right * 3 !default;

$block: '.f-select';
$theme: 'outlined';

// Mixins
@include fo-common-field($block);
@include fo-common-label($block);
@include fo-common-label-text($block);
@include fo-common-indicator($block);

@include f-field($block, $theme) {
    padding-right: $fo-select--field-padding-right;
}

@include f-arrow($block, $theme) {
    position: absolute;
    transform-origin: center right;
    pointer-events: none;
    transition: transition(border-color);
    right: calc(
        #{$fo-select--field-padding-right/2} + #{$fo-select--arrow-size/2}
    );
    top: calc(#{$fo-field-padding-top} + #{$f-border-width});
}

// Chevron down arrow
@if ($fo-select--arrow-type == 'chevron') {
    @include f-arrow($block, $theme) {
        // Open chevron arrow ᐯ
        transform: translateY(50%) rotate(45deg);
        margin-top: 0.05em; // Visual realignment
        width: $fo-select--arrow-size;
        height: $fo-select--arrow-size;
        display: block;
        border-style: solid;
        border-width: 0 $fo-select--arrow-thickness $fo-select--arrow-thickness
            0;
        border-color: $fo-select--arrow-color;
    }

    // Arrow > Hover
    @include f-arrow($block, $theme, $state: ':hover') {
        border-color: $fo-select--arrow-color-hover;
    }

    // Arrow > Focus
    @include f-arrow($block, $theme, $state: ':focus') {
        border-color: $fo-select--arrow-color-focus;
    }

    // Arrow > Error
    @include f-arrow($block, $theme, $has-error: true) {
        border-color: $f-border-color-error;
    }

    // Arrow > Hover + Error
    @include f-arrow($block, $theme, $state: ':hover', $has-error: true) {
        border-color: $f-border-color-error;
    }

    // Arrow > Focus + Error
    @include f-arrow($block, $theme, $state: ':focus', $has-error: true) {
        border-color: $f-border-color-error;
    }
} @else if ($fo-select--arrow-type == 'triangle') {
    // Solid triangle arrow ▼
    @include f-arrow($block, $theme) {
        transform: translateY(50%);
        margin-top: 0.35em; // Visual realignment
        width: 0;
        height: 0;
        border-left: $fo-select--arrow-size/1.5 solid transparent;
        border-right: $fo-select--arrow-size/1.5 solid transparent;
        border-top: $fo-select--arrow-size/1.5 solid $fo-select--arrow-color;
    }

    // Arrow > Hover
    @include f-arrow($block, $theme, $state: ':hover') {
        border-top-color: $fo-select--arrow-color-hover;
    }

    // Arrow > Focus
    @include f-arrow($block, $theme, $state: ':focus') {
        border-top-color: $fo-select--arrow-color-focus;
    }

    // Arrow > Error
    @include f-arrow($block, $theme, $has-error: true) {
        border-top-color: $f-border-color-error;
    }

    // Arrow > Hover + Error
    @include f-arrow($block, $theme, $state: ':hover', $has-error: true) {
        border-top-color: $f-border-color-error;
    }

    // Arrow > Focus + Error
    @include f-arrow($block, $theme, $state: ':focus', $has-error: true) {
        border-top-color: $f-border-color-error;
    }
}

// Arrow > Disabled
@include f-arrow($block, $theme, $state: ':disabled') {
    border-color: $fo-select--arrow-color-disabled;
}

@include f-label($block, $theme) {
    top: 0;
    bottom: 0;
    left: calc(#{$f-border-width} + #{$fo-field-padding-left});
}

@include f-label-text($block, $theme) {
    transition: transition(transform), transition(color),
        transition(letter-spacing);
    will-change: transform, color;
    transform-origin: center left;
    transform: translateY(0) scale(1);
}

@include f-message($block, $theme) {
    margin: $fo-message-margin-inset;
}
