// ================================
// Notification Outlined
// Requires: notification/base.scss
// ================================

// Imports
@import './../common/core';
@import './../common/outlined';

// Border
$fo-border-width: $f-border-width * 2 !default;

// Background
$fo-notification__bg-color-error: rgba(
    $f-border-color-error,
    0.1
) !default;
$fo-notification__bg-color-success: rgba(
    $f-border-color-success,
    0.1
) !default;

// Outlined
.f-notification--outlined {
    $block: '.f-notification';
    $error: $block + '--error';
    $success: $block + '--success';

    #{$block}__inner {
        border: $fo-border-width solid
            $f-border-color;
        border-radius: $fo-border-radius;
        padding: $f-field-padding-top $f-field-padding-right
            $f-field-padding-bottom $f-field-padding-left;
        box-shadow: inset 0 0 0 $fo-border-width #fff;
    }

    &#{$error} #{$block}__inner {
        border-color: $f-border-color-error;
        background-color: $fo-notification__bg-color-error;
    }

    &#{$success} #{$block}__inner {
        border-color: $f-border-color-success;
        background-color: $fo-notification__bg-color-success;
    }
}
