// Mixins

// The element root
@mixin f-core-base {
    position: relative;
    font-size: $f-common__base-size;
    text-align: left;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    // Disable motion if the user prefers
    @media screen and (prefers-reduced-motion) {
        html & *,
        html & *:before,
        html & *:after {
            transition: none !important;
            animation: none !important;
        }
    }

    @content;
}

// The inner wrapping element
@mixin f-core-inner {
    &__inner {
        display: block;
        position: relative;
        @content;
    }
}

// The form field
@mixin f-core-field {
    &__field {
        color: $f-common__text-color;
        padding: $f-common__padding-vertical $f-common__padding-horizontal;
        width: 100%;
        border: 0;
        caret-color: $f-common__text-caret-color;
        font-size: $f-common__text-font-size;
        font-family: inherit;

        &:focus {
            outline: 0; // Focus indicator is handled $f-common__border-color-focus instead
        }

        // Disabled  > Field color (extra specificity)
        &#{&}[disabled] {
            color: $f-common__disabled-color;
        }

        &:not(:disabled) {
            cursor: pointer;
        }

        &:disabled {
            cursor: not-allowed;
        }

        // Error state > Custom error caret
        #{$f-modifier__error} & {
            caret-color: $f-common__error-color;
        }

        // Custom selection colours (important required)
        &::-moz-selection {
            color: $f-common__selection-color;
            background: $f-common__selection-bg !important;
            text-shadow: none;
        }

        &::selection {
            color: $f-common__selection-color !important;
            background: $f-common__selection-bg !important;
            text-shadow: none;
        }

        // Error > Custom selection colours (important required)
        #{$f-modifier__error} &::-moz-selection {
            color: $f-common__selection-color;
            background: $f-common__error-color !important;
            text-shadow: none;
        }

        #{$f-modifier__error} &::selection {
            color: $f-common__selection-color !important;
            background: $f-common__error-color !important;
            text-shadow: none;
        }

        &:-webkit-autofill {
            -webkit-text-fill-color: $f-common__text-color !important;
        }

        @content;
    }
}

// The field label (not the label element)
@mixin f-core-label($b) {
    &__label {
        user-select: none;
        font-size: $f-common__text-font-size;

        #{$b}__field:not(:disabled) + & {
            cursor: pointer;
        }

        #{$b}__field:disabled + & {
            cursor: not-allowed;
        }

        @content;
    }
}

// The field label text
@mixin f-core-label-text($b) {
    &__label-text {
        color: $f-common__label-color;

        // Disabled > Label text color (extra specificity)
        #{$b}__field[disabled]#{$b}__field[disabled] + #{$b}__label & {
            color: $f-common__disabled-color;
        }

        @content;
    }
}

// The indicator
// Either required or optional indicator
@mixin f-core-indicator($b) {
    &__indicator {
        pointer-events: none;
        user-select: none;
        color: $f-common__indicator-color;

        &--optional {
            font-size: $f-common__indicator-optional-size;
        }

        &--required {
            font-size: $f-common__indicator-required-size;
        }

        // Error state > Indicator hover/focus
        #{$f-modifier__error} #{$b}__field:hover ~ &,
        #{$f-modifier__error} #{$b}__field:focus ~ & {
            color: $f-common__error-color !important;
        }

        // Disabled > Indicator color (extra specificity)
        #{$b}__field[disabled]#{$b}__field[disabled] ~ & {
            color: $f-common__disabled-color;
        }

        @content;
    }
}

// The message (error, instructions etc)
@mixin f-core-message {
    &__message {
        font-size: $f-common__message-font-size;

        &--instruction {
            color: $f-common__message-color;
        }

        &--error {
            color: $f-common__error-color;

            // Error > Custom selection colours (important required)
            #{$f-modifier__error} &::-moz-selection {
                color: $f-common__selection-color;
                background: $f-common__error-color !important;
                text-shadow: none;
            }

            #{$f-modifier__error} &::selection {
                color: $f-common__selection-color !important;
                background: $f-common__error-color !important;
                text-shadow: none;
            }
        }

        // Hide the instructions if there's an error
        @if ($hide-instructions-when-error) {
            &--error + &--instruction {
                display: none;
            }
        }

        @content;
    }
}

// Functions

// Usage: transition: transition(transform);
@function transition($property) {
    @return $property $f-common__transition-duration $f-common__transition-timing;
}
