// Customizable core variables
// More styles are available in the theme core files

// Base size
$f-common__base-size: inherit !default;

// Highlights
$f-common__highlight-color: #a42cf9 !default;

// Field
$f-common__background-color: white !default;

// Labels
$f-common__label-color: gray !default;
$f-common__label-color-hover: $f-common__highlight-color !default;
$f-common__label-color-focus: $f-common__label-color-hover !default;

// Text
$f-common__text-font-size: 1em !default;
$f-common__text-color: inherit !default;
$f-common__text-caret-color: $f-common__highlight-color !default;

// Validity
$f-common__error-color: #e91e63 !default;
$f-common__success-color: #cddc39 !default;

// Field > Padding
$f-common__padding-vertical: 1em !default;
$f-common__padding-horizontal: 0.9em !default;
// Field > Padding > Fine tuning
$f-common__padding-top: $f-common__padding-vertical !default;
$f-common__padding-right: $f-common__padding-horizontal !default;
$f-common__padding-bottom: $f-common__padding-vertical !default;
$f-common__padding-left: $f-common__padding-horizontal !default;

// Field > Border
$f-common__border-color: #a4a8ab !default;
$f-common__border-color-hover: $f-common__highlight-color !default;
$f-common__border-color-focus: $f-common__border-color-hover !default;
$f-common__border-color-error: $f-common__error-color !default;
$f-common__border-color-success: $f-common__success-color !default;
$f-common__border-width: 1px !default;
$f-common__border-width-focus: 2px !default;
$f-common__border-width-error: 2px !default;
$f-common__border-width-success: 2px !default;

// Messages
$f-common__message-color: gray !default;
$f-common__message-font-size: 0.8em !default;

// Disabled
$f-common__disabled-color: #767676 !default;
$f-common__disabled-border-color: #ccc !default;

// Indicator
$f-common__indicator-color: $f-common__border-color !default;
$f-common__indicator-color-hover: $f-common__highlight-color !default;
$f-common__indicator-color-focus: $f-common__indicator-color-hover !default;
$f-common__indicator-required-size: 1em !default;
$f-common__indicator-optional-size: 0.5em !default;

// Transitions
$f-common__transition-duration: 0.2s !default;
$f-common__transition-timing: cubic-bezier(0.51, 0.92, 0.24, 1) !default;

// Selectors
$f-modifier__filled: '.is-filled' !default;
$f-modifier__error: '.has-error' !default;

// Selections
$f-common__selection-color: white !default;
$f-common__selection-bg: $f-common__highlight-color !default;

// Settings
$hide-instructions-when-error: true !default;
