// Variables, mixins, and functions
@import './../../common/core/all';

// Arrow
$f-select-arrow-type: 'chevron' !default; // chevron / triangle
$f-select-arrow-thickness: 2px !default;
$f-select-arrow-size: 0.5em !default;
$f-select-arrow-color: grey !default;
$f-select-arrow-color-hover: $f-core-highlight-color !default;
$f-select-arrow-color-focus: $f-select-arrow-color-hover !default;

// Field
$f-select-field-padding-right: $f-core-padding-horizontal * 3 !default;
